In [41]:
import pystan
import pandas as pd
import matplotlib
%matplotlib inline
import arviz as az

import numpy as np

import matplotlib.pyplot as plt

In [36]:
y = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,
       2,1,5,2,5,3,2,7,7,3,3,2,9,10,4,4,4,4,4,4,4,10,4,4,4,5,11,12,
       5,5,6,5,6,6,6,6,16,15,15,9,4]
n = [20,20,20,20,20,20,20,19,19,19,19,18,18,17,20,20,20,20,19,19,18,18,25,24,
       23,20,20,20,20,20,20,10,49,19,46,27,17,49,47,20,20,13,48,50,20,20,20,20,
       20,20,20,48,19,19,19,22,46,49,20,20,23,19,22,20,20,20,52,46,47,24,14]

In [37]:
df = pd.DataFrame(n, y).reset_index()

In [38]:
df.columns =['y','n']
df['theta'] = df.y/df.n

In [39]:
df

     y   n     theta
0    0  20  0.000000
1    0  20  0.000000
2    0  20  0.000000
3    0  20  0.000000
4    0  20  0.000000
5    0  20  0.000000
6    0  20  0.000000
7    0  19  0.000000
8    0  19  0.000000
9    0  19  0.000000
10   0  19  0.000000
11   0  18  0.000000
12   0  18  0.000000
13   0  17  0.000000
14   1  20  0.050000
15   1  20  0.050000
16   1  20  0.050000
17   1  20  0.050000
18   1  19  0.052632
19   1  19  0.052632
20   1  18  0.055556
21   1  18  0.055556
22   2  25  0.080000
23   2  24  0.083333
24   2  23  0.086957
25   2  20  0.100000
26   2  20  0.100000
27   2  20  0.100000
28   2  20  0.100000
29   2  20  0.100000
..  ..  ..       ...
41   2  13  0.153846
42   9  48  0.187500
43  10  50  0.200000
44   4  20  0.200000
45   4  20  0.200000
46   4  20  0.200000
47   4  20  0.200000
48   4  20  0.200000
49   4  20  0.200000
50   4  20  0.200000
51  10  48  0.208333
52   4  19  0.210526
53   4  19  0.210526
54   4  19  0.210526
55   5  22  0.227273
56  11  46  0.239130
57  12  49  0.244898
58   5  20  0.250000
59   5  20  0.250000
60   6  23  0.260870
61   5  19  0.263158
62   6  22  0.272727
63   6  20  0.300000
64   6  20  0.300000
65   6  20  0.300000
66  16  52  0.307692
67  15  46  0.326087
68  15  47  0.319149
69   9  24  0.375000
70   4  14  0.285714

[71 rows x 3 columns]

1st exp: only current x|theta ~ Bin(n=14, theta) -> have not used the past data

모형: x|θ∼B(14,θ)
사전분포: θ∼Beta(1,1)
사후분포: θ|x=4∼Beta(1+x,1+n−x)=Beta(5,11)

In [ ]:
rat_code = """
data {
    int<lower=0> J; // number of schools
    vector[J] y; // estimated treatment effects
    vector<lower=0>[J] sigma; // s.e. of effect estimates
}
parameters {
    real mu;
    real<lower=0> tau;
    vector[J] eta;
}
transformed parameters {
    vector[J] theta;
    theta = mu + tau * eta;
}
model {
    eta ~ normal(0, 1);
    y ~ normal(theta, sigma);
}
"""

schools_dat = {'J': 8,
               'y': [28,  8, -3,  7, -1,  1, 18, 12],
               'sigma': [15, 10, 16, 11,  9, 11, 10, 18]}

sm = pystan.StanModel(model_code=schools_code)
fit = sm.sampling(data=schools_dat, iter=1000, chains=4)